{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Brentwood Hand and Foot{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="Brand" src="{{ url_for('static', filename='favicon.ico') }}" /></a>
      <a class="navbar-brand" href="#">Hand and Foot</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Scoring <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('rules') }}">Rules</a></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        -->
      </ul>
      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
{{util.flashed_messages()}}
<div class="container">
<form method="POST" action="/api/score-round">
    {{ form.csrf_token }}
    <div>{{ form.team.label }} {{ form.team }}</div>
    <div>{{ form.wentOut.label }} {{ form.wentOut }}</div>
    <div>{{ form.handPenalty.label }} {{ form.handPenalty(step=5) }}</div>
    <div>{{ form.sevenCanastaCount.label }} {{ form.sevenCanastaCount }}</div>
    <div>{{ form.wildCanastaCount.label }} {{ form.wildCanastaCount }}</div>
    <div>{{ form.wildCanastaJokerCount.label }} {{ form.wildCanastaJokerCount }}</div>
    <div>{{ form.cleansValues.label }} {{ form.cleansValues }}</div>
    <div>{{ form.dirtiesValues.label }} {{ form.dirtiesValues }}</div>
    <div>{{ form.dirtiesWilds.label }} {{ form.dirtiesWilds }}</div>
    <div>{{ form.redThreesCount.label }} {{ form.redThreesCount }}</div>
    <div>{{ form.partialCanastasPoints.label }} {{ form.partialCanastasPoints(step=5) }}</div>

    <div>{{ form.submit }}</div>
</form>

</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
